<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">LOGIN</h1>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" [(ngModel)]="email">
          </div>
          <div class="form-group">
            <label for="pasword">Contraseña</label>
            <input type="password" name="pasword" id="pasword" class="form-control" [(ngModel)]="password">
          </div>
          <input type="submit" value="ENTRAR" class="btn btn-primary btn-block btn-lg" (click)="login()">
        </form>
      </div>
    </div>
  </div>
</div>